@import "./imports";

body {
	font: var(--font-m);
	color: var(--primary-color);

	background-color: var(--bg-color);

	transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.app {
	min-height: 100vh;
}

.content {
	display: flex;
}

.page {
	flex-grow: 1;

	padding: 20px;
}