.wrapper {
	display: flex;
	gap: 10px;
	align-items: center;

	padding: 10px;

	font-size: 16px;
	color: var(--primary-color);

	border-radius: 10px;

	transition: var(--base-transition);
}

.button-icon {
	&>svg {
		width: 12px;
		height: 12px;
	}
}

.icon {
	border-radius: 50%;

	transition: var(--base-transition);

	&:hover {
		background-color: var(--main-color-hover);

		&>svg {
			fill: white;
		}
	}

	&:active {
		background-color: var(--main-color-active);

		&>svg {
			fill: white;
		}
	}
}

.primary {
	color: var(--white);

	background-color: var(--main-color);
	border: 1px solid var(--main-color);

	&:hover {
		background-color: var(--main-color-hover);
		border: 1px solid var(--main-color-hover);

		.button-icon>svg {
			fill: var(--main-color-hover);
		}
	}

	&:active {
		background-color: var(--main-color-active);
		border: 1px solid var(--main-color-active);

		.button-icon>svg {
			fill: var(--main-color-active);
		}
	}

	// &:disabled {}
}

.secondary {
	color: red;
}

.text {
	&:hover {
		color: var(--main-color-hover);
	}

	&:active {
		color: var(--main-color-active);
	}
}