.wrapper {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: var(--sidebar-width);
	height: calc(100vh - var(--navbar-height));
	padding: 10px 0;

	background-color: var(--secondary-bg-color);

	transition: var(--base-transition);
}

.links {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;

	padding: 10px;
}

.switchers {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
}

.collapsed {
	width: var(--sidebar-width-collapsed);

	.switchers {
		flex-direction: column;
		gap: 10px;
	}
}

.toggle-sidebar {
	position: absolute;
	right: -20px;
	bottom: 50%;

	width: 34px;

	&>svg {
		transform: rotate(-90deg);

		transition: var(--base-transition);
	}

	&.collapsed svg {
		transform: rotate(90deg);
	}
}