.wrapper {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: var(--sidebar-width);
	height: calc(100vh - var(--navbar-height));
	padding: 20px 0;

	background-color: var(--secondary-bg-color);

	transition: var(--base-transition);
}

.switchers {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
}

.collapsed {
	width: var(--sidebar-width-collapsed);

	.switchers {
		flex-direction: column;
		gap: 10px;
	}
}