// .wrapper {}

.label {
	margin-bottom: 8px;

	font-size: 14px;
}

.input {
	width: 100%;
	padding: 10px;

	font-size: 16px;

	border: 2px solid var(--main-color);
	border-radius: 10px;

	transition: var(--base-transition);

	&:hover {
		border: 2px solid var(--main-color-hover);
	}

	&:focus {
		border: 2px solid var(--main-color-active);
	}
}