:root[data-theme="dark"],
.global-dark-theme {
	--bg-color: var(--gray800);
	--secondary-bg-color: var(--blue900);
	--primary-color: var(--white);
	--hover: var(--blue900);
	--secondary-hover: var(--gray800);

	// skeleton
	--skeleton-color: var(--main-color);
	--skeleton-shadow: var(--main-color);

	// code
	--bg-code: var(--gray800);
}