:root[data-theme="dark"] {
	--bg-color: var(--gray800);
	--secondary-bg-color: var(--blue900);

	--primary-color: var(--white);
	--secondary-color: var(--gray400);

	--hover: var(--gray700);
	--active: var(--gray600);
}
