:root[data-theme="light"],
.global-light-theme {
	--bg-color: var(--gray50);
	--secondary-bg-color: var(--white);
	--primary-color: var(--blue900);
	--hover: var(--white);
	--secondary-hover: var(--gray50);

	// skeleton
	--skeleton-color: #ffffff;
	--skeleton-shadow: rgba(0 0 0 / 20%);

	// code
	--bg-code: #ffffff;
}