:root[data-theme="light"],
.global-light-theme {
	--bg-color: var(--gray50);
	--secondary-bg-color: var(--white);
	--primary-color: var(--blue900);
	--secondary-color: var(--gray500);
	--hover: var(--gray100);
	--active: var(--gray200);
}